.button-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1%;
}

.gradient-button {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    color: white; 
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer; 
    border-radius: 5px; 
    text-align: center; 
}