.buttonCustomization {
    --slds-c-button-brand-color-background: #7443ba;
    --slds-c-button-brand-color-background-hover: #7443ba;
    --slds-c-button-brand-color-border: #7443ba;
    --slds-c-button-brand-color-border-hover: #7443ba;

}